<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <main>
            <h1><%= title %></h1>
            <form method="POST" action="/new">
                <div class="section-wrapper">
                    <section>
                        <label for="author">Author</label>
                        <input type="text" name="userName" id="user" required />
                    </section>
                    <section>
                        <label for="message">Message</label>
                        <input type="text" name="messageText" id="message" required />
                    </section>
                </div>
                <div class="btn-container">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </main>
    </body>
</html>
