<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <main>
            <h1><%= title %></h1>
            <div class="section-wrapper">
                <section>
                    <label for="message">Message</label>
                    <input type="text" name="message" id="message" />
                </section>
                <section>
                    <label for="author">Author</label>
                    <input type="text" name="author" id="author" />
                </section>
            </div>
            <div class="btn-container">
                <button>Submit</button>
            </div>
        </main>
    </body>
</html>
