* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-color: #f5f5f4;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}

button {
    appearance: none;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292e;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

button:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    transition-duration: 0.1s;
}

button:active {
    background-color: rgb(76, 71, 71);
    color: white;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

button:focus {
    outline: 1px transparent;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #2222;
    border-radius: 20px;
}

h1 {
    padding: 16px 0;
    text-align: center;
    background-color: black;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.board-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 30px;
    gap: 10px;
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
}

.name-date-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.name {
    font-size: 24px;
    font-weight: 700;
}

.date {
    font-size: 10px;
    color: #78716c;
}

.text {
    background-color: #2dd4bf;
    padding: 10px 20px;
    border-radius: 10px;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 18px;
    font-weight: 600;
}

input {
    font-size: 16px;
    min-height: 30px;
    padding: 5px 10px;
    border-radius: 7px;
}
