* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-color: #f5f5f4;
}

a {
    color: #00b7ff;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #2222;
    border-radius: 10px;
}

h1 {
    margin: 16px 0;
    text-align: center;
}

.board-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px 30px;
    gap: 10px;
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
}

.name-date-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.name {
    font-size: 24px;
    font-weight: 700;
}

.date {
    font-size: 10px;
    color: #78716c;
}

.text {
    background-color: #2dd4bf;
    padding: 10px 20px;
    border-radius: 10px;
}
